.home-art{
  position: relative;
}

.home-art-left{
  position: absolute;
  left: 15%;

}
.home-art-left img{
width:300px;

}

.home-art-right img{

  width:300px;

}


.home-art-right{
  position: absolute;
  right:15%;
  top: 0;

}
.home-art-writeup{
  max-width:200px;
  margin: 0 auto;
  color: #8C916C;
  

}

.home-art-writeup p {
  font-size: 1.6rem;
  text-align: center;
  color: #8C916C;

}

.home-art-writeup p:first-of-type{
  margin-bottom: 100px;
}


.home-art-writeup p:last-of-type{

}

@media (max-width: 768px) {
  .home-art-writeup{
    max-width:200px;
    margin: 0 auto; 
    color: #8C916C;
  
  
  }
  .home-art-left{
    display: none;
  }
  
  .home-art-right{
    display: none;

  
  }

}

